# Ignore python build files.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Kicad temporary files.
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
*.dsn
*.ses
*.net
*.rules
*-cache.lib


# Kicad backup
rescue-backup

# Doxygen documentation directory.
html/

# Compressed files
*.gz
